Flask
Werkzeug
Pillow
python-dotenv
requests
ultralytics
flask-cors
pyopenssl
nltk
scikit-learn
pymongo
transformers
sentence_transformers
transformers
datasets
scikit-learn
numpy
torch
tiktoken
sentencepiece
accelerate
protobuf
huggingface_hub[hf_xet]
sentence_transformers
nltk